body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #d080c4 69%);
}

.menu-imc{
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

.menu-section-title{
    width: 100%;
    line-height: 20px;
    text-align: center;
}

.menu-section-title p{
    font-size: 2rem;
    font-weight: bold;
}

.menu-section-sex{
    display: flex;
    flex-direction: column;
    width: 100px;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;

}

.menu-section-sex .hombre, .mujer{
    display: flex;
    flex-direction: column;
    place-content: center;
    width: 100px;
    height: 200px;
}

.menu-section-sex div img{
    width: 100px;
}

.menu-section-sex div a{
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}


